// app global css in SCSS form
.form-filedset {
  border-radius: 5px
}

.form-filedset-legend {
  border: 1px black solid;
  margin-left: 1em;
  padding: 0.2em 0.8em
}

.main-div {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.main-div div {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.motherboard-fieldset {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.computer-fieldset {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.amount-input {
  width: 40%;
}
